<h1>Boardgame Scores</h1>

<div>
  <label>Add a new player: <input #playerName /></label>
  <button (click)="addPlayer(playerName.value); playerName.value=''">Add</button>
</div>

<h2 *ngIf="players.length">Players</h2>
<ul>
  <li *ngFor="let player of players; let i = index">
    {{ player.name }}: {{ player.score }}
    <input #diff type="number" />
    <select #multiplier>
      <option *ngFor="let multiplier of multipliers" [value]="multiplier.points">{{ multiplier.colour }}</option>
    </select>
    <button (click)="updateScore(i, +diff.value * +multiplier.value)">Update score</button>
  </li>
</ul>